AddHandler cgi-script .cgi
Header set Access-Control-Allow-Origin "*"
Options -Indexes +ExecCGI

<FilesMatch "\.(py|pyc)$|(.git|data|tools)/*">
  Order allow,deny
</FilesMatch>

<Files .gitignore>
  Order allow,deny
</Files>
